extends layout
block content
  #books 
    form(id="addBook", action="#")
      div
        label(for="coverImage") Cover Image: 
        input(id="coverImage", type="file")
        label(for="title") Title:
        input(id="title", type="text", placeholder="A title you desire")
        label(for="author") Author:
        input(id="author", type="text", placeholder="The author of the book")
        label(for="releaseDate") Release Date:
        input(id="releaseDate", type="text", placeholder="The release date")
        label(for="keywords") Keywords:
        input(id="keywords", type="text", placeholder="Keywords")
        button(id="add") Add

  script(type="text/template", id="bookTemplate")
    img(src!="<%= coverImage %>", height="100px")
    ul
      li <%= title %> 
      li <%= author %>
      li <%= $.format.date(new Date(releaseDate), 'MMMM yyyy') %>
      li <% _.each(keywords, function(keyobj) {%><%= keyobj.keyword %><%}) %> 
    button(class="delete") Delete