extends layout
block content
  #books 
    div#imageCoverUpload
      img#uploadedImage(height="100px")
      form(id="uploadCoverForm", method="post", action="/api/cover", enctype="multipart/form-data")
        input(id="coverImageUpload", type="file", name="coverImageUpload")
      div#status
    form(id="addBook", action="#")
      div
        input(id="imageCover", type="hidden")
        label(for="title") Title:
        input(id="title", type="text", placeholder="A title you desire")
        label(for="author") Author:
        input(id="author", type="text", placeholder="The author of the book")
        label(for="releaseDate") Release Date:
        input(id="releaseDate", type="text", placeholder="The release date")
        label(for="keywords") Keywords:
        input(id="keywords", type="text", placeholder="Keywords")
        button(id="add") Add
    #clear
    #bookList
  script(type="text/template", id="bookTemplate")
    img(src!="<%= imageCover %>", height="100px")
    ul
      li <%= title %> 
      li <%= author %>
      li <%= $.format.date(new Date(releaseDate), 'MMMM yyyy') %>
      li <% _.each(keywords, function(keyobj, index, list) { %> <%= index < list.length - 1 ? keyobj.keyword + ", " : keyobj.keyword %> <%}) %> 
    button(class="delete") Delete