doctype html
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  title Express CoffeeScript Template
  meta(name='description', content='')
  meta(name='author', content='')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  != css('lib/bootstrap.min.css')
  != css('cover.css')

body
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        div(class="masthead clearfix")
          .inner
            block navigation

        div(class="inner cover")
          block content

        .mastfoot
          .inner
            block footer
              
  != js('lib/require.js')
  != js('lib/bootstrap.min.js')
